<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        {{ asset_add("themes.css", "theme::assets/css/theme.css",["live"]) }}
        {{ asset_style("theme.css", ["min"]) }}

    </head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    {{ asset_add("all.js", "theme::assets/js/app.js",["live"]) }}
    {{ asset_script("all.js") }}
</body>
</html>
